# Base URL for the API
API_BASE_URL="http://localhost:3002/api"

# NextAuth configuration
NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="your_nextauth_secret"

# Database connection string
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# GitHub OAuth credentials
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"

# AWS S3 configuration
AWS_REGION="your_aws_region"
AWS_BUCKET_NAME="your_bucket_name"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_IMAGE_URL="https://your-bucket-name.s3.your-region.amazonaws.com/"

# Set this to "local" for local storage, or "s3" for AWS S3 storage
STORAGE_TYPE="local"

# Local storage directory (only used if STORAGE_TYPE is "local")
LOCAL_STORAGE_PATH="D:/hooknhold/tmp"